html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

#navcontainer ul {
  margin: 0px;
  padding-left: 10px;
  padding-top: 20px;
  list-style-type: none;
}

#navcontainer ul li {
  display: inline;
  padding-left: 20px;
}

.logo {
  height: 95px;
  margin-bottom: 25px
}

.app-logo {
  height: 20px;
}

.notification-logo {
  height: 20px;
}

.center {
  text-align: center;
  margin-top: 150px;
}

.header-text {
  font-family: Arial;
  color: black;
  text-decoration: none;
  opacity: .75;
  font-size: 14px;
}

.header-right {
  margin-right: 25px;
  float: right;
}

.searchbar {
  width: 505px;
  height: 30px;
}

.button {
  background-color: #efefef;
  border: none;
  color: #666;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-weight: 700;
  margin-left: 2px;
  margin-right: 2px;
}

.button-margin {
  margin-top: 25px;
}

.footer-margin {
  height: 60px;
  padding-left: 0px;
  position: absolute;
  background-color: #efefef;
  border-top: 1px solid #e5e5e5;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-family: Arial;
  color: black;
  text-decoration: none;
  opacity: .6;
  font-size: 14px;
  padding-bottom: 20px;
}
